.card-fonctionnement {
    display: flex;
    background: #F6F6F6;
    padding: 1em 1.6em;
    border-radius: 0.8em;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;

    &:hover {
        transition: all 0.5s ease;
        background-color: #F5EDFF;

        & i {
            color: $violet-primaire;
        }
    }

    & h3 {
        padding-left: 1em;
    }

    & span {
        position: absolute;
        background-color: $violet-primaire;
        left: -1em;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    & i {
        padding-left: 1em;
        color: $gris-intermediaire;
    }
}

.card-restaurant {
    width: 100%;
    border-radius: 1em;
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0px 8px 8px -10px #000000;
    box-shadow: 0px 8px 8px -10px #000000;

    a {
        color: black;
    }

    & img {
        width: 100%;
        border-radius: 1em 1em 0 0;
        height: 80%;
        max-height: 14em;
        object-fit: cover;
    }

    & .container {
        padding: 0.8em 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & span {
            position: absolute;
            top: 1em;
            right: 1em;
            background: $vert-clair;
            padding: 0.4em;
            border-radius: 8px;
            color: $txt-fond-vert;
        }


    }
}